{% extends 'base.html.twig' %}

{% block body %}
    <div class="media text-muted pt-3">
        <img src="https://img.icons8.com/android/24/000000/twitter.png" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <span class="d-block"><strong class="text-gray-dark">@username</strong><small>. datum se ne ucitava iz sesije</small></span>
            a ni tekst
        </p>
    </div>
{% endblock %}

